.aws-credential-expiry.txt
.bazel-npm-cache.json
.cdktf
.DS_Store
.env
.nuxt
.profiles
.secrets.sh
.vscode/*
.idea
.yarn
dist
bundle
node_modules
sw.js
cockroach-data
target

/bazel-*
/conf.sh
/data
/.repos
/redo/merchant-mobile/.build-number.txt
/redo/netsuite/sdf/FileCabinet/SuiteScripts/Redo/ItemReceiptEvent.js
/redo/shopify-app/extensions/my-web-pixel/src
/redo/shopify-app/extensions/redo-checkout-ui/src
/redo/shopify-app/extensions/redo-checkout-optimization-ui/src
/redo/shopify-app/extensions/post-purchase-ui/src
/redo/shopify-app/extensions/theme-extension/assets
/redo/shopify-app/shopify.app.*.toml
/user.bazelrc

!/redo/shopify-app/shopify.app.toml
!.vscode/extensions.json
!.vscode/settings.example.json
!.vscode/tasks.json

/.claude

*storybook.log
.cursorignore

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

/.claude/CLAUDE.md
.manage-logs

**/CLAUDE.local.md

# decoded email files, see manage/src/decode-email.ts
/emails
